*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.topbar-container{
    width: 100%;
    height: 34px;
    background-color: black;
}

.topbar-text{
    font-weight: 600;
    font-size: 14px;
    padding-top: 8px;
    text-align: center;
    color:whitesmoke;
}

.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 60px;
    margin-top: 30px;
}
.navbar-logo{
    height: 40px;
}
.navbar-menus{
    display: flex;
    align-items: center;
}

.navbar-menu-items{
    font-size: 16px;
    padding: 12px;
    cursor: pointer;
}

.navbar-menu-items:hover {
    border-bottom: 4px solid black;
}

/* dropdown menu starts here */

.dropdown {
    display: inline-block;
}

.dropdown .content {
    margin-top: 110px;
    display: none;
    position: absolute;
    width: 100vw;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: white;
}

.dropdown:hover .content {
    display: block;
}

.table-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.nav-sub-menu {
    padding-left: 15px;
    padding-right: 55px;
    margin-top: 0;
    vertical-align: top;
}

.expanded-menu-items{
    cursor: pointer;
    font-size: 14px;
    padding-bottom: 12px;
}

.expanded-menu-items:hover {
    font-weight: bold;
}

.sports-image{
    height: 90px;
    width: 200px;
}

.sub-brands-logo{
    width: 200px;
}

/* navbar right portion styles */
.top-menu{
    margin-top: -24px;
}

.top-menu-items{
    font-size: 12px;
    margin-right: 10px;
    color: rgb(146, 145, 145);
    cursor: pointer;
}

.top-menu-items:hover {
    border-bottom: 2px solid rgb(146, 145, 145);
}

.botton-menu{
    margin-top: 14px;
}

.search-container{
    background-color:rgb(213, 213, 213) ;
    padding: 7px;
    padding-right: 7px;
}

#search-input{
    background-color: transparent;
    border: none;
    outline: none;
}

.botton-menu-logo{
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

/* shoe #1 styles */
.shoe-container {
    background-image: url('/images/yeezy-boost.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 90vh;
}

.shoe-name{
    font-weight: 900;
    font-size: 40px;
    padding-left: 150px;
    transform: translateY(430px);
}

.shoe-purcase-button{
    transform: translateY(330px);
    margin-top: 115px;
    margin-left: 160px;
    width: 200px;
}

.button-50 {
    background-color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    overflow: visible;
    padding: 14px 20px;
    text-align: center;
    margin-right: 24px;
}

.offer-container{
    background-image: url('/images/adidas-red-sneakers.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.offer-statement{
    font-weight: 400;
    font-size: 18px;
    padding-left: 150px;
    transform: translateY(450px);
}

.shop-category-btn{
    display: flex;
    flex-direction: row;
    transform: translateY(470px);
    padding-left: 150px;
}

/* popular right now section */
.popular-now-container{
    padding-left: 160px;
    padding-right: 160px;
    margin-top: 80px;
}

.popular-text{
    font-weight: 700;
    font-size: 38px;
}

.popular-row{
    display: flex;
    justify-content: space-between;
}

.popular-item{
    margin-top: 36px;
    margin-bottom: 70px;
    text-align: left;
    font-weight: 900;
    font-size: 46px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.popular-item:hover {
    border-bottom: 7px solid black;
}

/* new arrivals styles */
.new-arrivals-container{
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
    /* background-color: antiquewhite; */
    cursor: pointer;
}

.new-arrivals-btn{
    width: 140px;
    padding: 16px;
    border: 2px solid black;
    color: white;
    background-color: black;
    margin-right: 30px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
}

.best-adidas-btn {
    font-size: 16px;
    width: 140px;
    font-weight: 500;
    padding: 16px;
    border: 2px solid black;
    color: black;
    background-color: transparent;
}

.best-adidas-btn:hover {
    color: white;
    background-color: black;
}

/* new arrivals product slide */
.slider-container {
    width: 80vw;
    overflow-x: auto;
    margin-top: 40px;
}

.slider {
    display: flex;
    gap: 20px;
    /* Adjust the gap between product cards */
    padding: 10px;

}

.product-card {
    flex: 0 0 auto;
    /* Prevent product cards from growing or shrinking */
    width: 300px;
    /* Adjust the width of each product card */
    border-radius: 5px;
    padding-bottom: 10px;
}

.product-card:hover {
    border: 1px solid black;
}

.product-img {
    background-image: url('https://assets.adidas.com/images/w_600,f_auto,q_auto/edc22517c3b847e2a6ce44fc64bf47ff_9366/Forum_Mod_Low_Shoes_Red_IG3766_01_standard.jpg');
    width: 300px;
    height: 300px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-img:hover .product-price {
    transform: translateY(-50%);
}

.product-fav {
    transform: translate(90%, 15px);
}

.product-price {
    width: 80px;
    background-color: white;
    margin-bottom: 2px;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.product-name {
    padding-left: 10px;
    margin-top: 8px;
    font-size: 18px;
}

.product-category {
    padding-left: 10px;
    font-size: 15px;
    color: #707070;
}

/* scrollbar styles */
/* For WebKit-based browsers */
/* Change the color of the scrollbar */
.slider-container::-webkit-scrollbar {
    height: 5px;
    padding: 400px;
}

.slider-container::-webkit-scrollbar-thumb {
    background-color: #6c757d;
    /* Color of the scrollbar thumb */
    border-radius: 500px;
    /* Roundness of the scrollbar thumb */
}

.slider-container::-webkit-scrollbar-thumb:hover {
    background-color: #495057;
    /* Color of the scrollbar thumb on hover */
}

/* Change the color of the scrollbar track */
.slider-container::-webkit-scrollbar-track {
    background-color: #e9ecef;
    /* Color of the scrollbar track */
}


/* whats hot section */
.whats-hot-container{
    padding-left: 160px;
    padding-right: 160px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.whats-hot-title{
    font-weight: 800;
    font-size: 28px;
}

.hot-banner{
    margin-top: 24px;
    padding-right: 24px;
    width: 300px;
}

.banner-title{
    font-weight: 600;
    font-size: 16px;
}

.banner-desc{
    padding-top: 6px;
    font-size: 12px;
}

.banner-link p{
    text-decoration: underline;
    padding-top: 36px;
    font-weight: 700;
    cursor: pointer;
}


/* common styles */
.bold {
    font-weight: 700;
}

.light {
    font-weight: 350;
}

.red {
    font-weight: 500;
    color: red;
}